.cards {
  color: var(--color3);
}

.cards-shadow {
  box-shadow: 4px 10px 30px -6px rgba(0, 0, 0, 0.26);
}

.cards-fotos {
  /*background-image: url(../img/fondo.jpg);
    background-size: cover;*/
  padding: 6%;
}

.cards-fotos-img {
  border-radius: 50%;
}

.cards-text {
  background-color: var(--color4);
  color: var(--color1);
  font-weight: 600;
}
.cards-text-master {
  background-color: var(--color1);
  color: var(--color3);
  font-weight: 600;
}

.p-color{
  color: white;
}