body{
    background-color: rgb(235, 235, 235);
}
.secProducto{
    background-color: white;
    width: 70%;
    padding: 3%;
    margin: 3% auto;
    border-radius: 30px;
}

@media (max-width: 576px) { 

    body{
        background-color: white;
    }
    .secProducto{
        width: 100%;
    }
}