:root {
  --color1: #f39814;
  --color2: #efba93;
  --color3: #0b046c;
  --color4: #6960ae;
  --color5: #b2a9d3;
}

body {
  background: rgb(11, 4, 108);
  background: linear-gradient(
    45deg,
    rgba(11, 4, 108, 1) 38%,
    rgba(243, 152, 20, 1) 100%
  );
}

.colornav {
  background-color: var(--color1);
}

.carousel-inner img {
  width: 100%;
  max-height: 300px;
}

.carousel-item {
  width: auto;
  height: 80%;
}

.main {
  background-color: var(--color5);
}

.footer {
  background-color: var(--color1);
  color: #fff;
  padding: 15px 0;
  bottom: 0;
  width: 100%;
}

.footer h5 {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.footer p {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
}

.footer ul {
  padding-left: 0;
}

.footer ul li a {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
}

.footer ul li a:hover {
  color: #fff;
  text-decoration: underline;
}

.link {
  text-decoration: none;
}
.error-404 {
  width: 80vh;
  height: 60vh;
}
.bg-celulares {
  background-color: #6960ae;
}

.color-white{
  color:white;
}
